.Weather {
    border: 1px solid #dadde1;
    padding: 10px 50px;
    margin: 40px auto;
    border-radius: 10px;
}

.listnone {
    list-style: none;
    margin: auto;
    padding: 0px;
  }

  .main-city {
    font-weight: bold;
    font-size: 30px;
    color: rgb(36, 111, 152);
  }

  .main-temperature {
    font-size: 70px;
    margin-left: 0px;
    color: rgb(36, 111, 152);
    position:relative;
    top: 0px ;
    left: 0px;
  }

  .main-degree {
    font-size: 18px;
    vertical-align: super;
    position:relative;
    top: -28px ;
    left: 2px;
    color: rgb(36, 111, 152);
  }

  .main-img canvas {
    position: relative;
    top: 0px;
    left: 15px;
    max-height: 55px;

  }

  .main-description {
    font-size: 15px;
    font-style: italic;
  }

  .app-header {
    color: rgb(36, 111, 152);
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
  }

  .main-button {
    background-color: rgb(145, 217, 243);
    border: rgb(36, 144, 212);
    border-radius: 5px;
    padding: 6px 40px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }

  footer {
    font-size: 10px;
    text-align: center;
    color: rgb(62, 61, 61);
  }

  .units {
    text-decoration: none;
  }